# get the address with grep in bash

In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 20)

In [3]:
#loading the ftp information from efetch table 
#without pathway
df = pd.read_csv('list_ftp_address.txt', sep=r'\s{2,}', engine='python', header=None, names=['ID'])
df

                                                     ID
0     FTP download: GEO ftp://ftp.ncbi.nlm.nih.gov/g...
1     FTP download: GEO ftp://ftp.ncbi.nlm.nih.gov/g...
2     FTP download: GEO (WIG) ftp://ftp.ncbi.nlm.nih...
3     FTP download: GEO (BED, BEDPE, HIC) ftp://ftp....
4     FTP download: GEO (BED, BEDPE, HIC) ftp://ftp....
5     FTP download: GEO (BED) ftp://ftp.ncbi.nlm.nih...
6     FTP download: GEO (BW, HIC, WIG) ftp://ftp.ncb...
7     FTP download: GEO (TXT, XLS) ftp://ftp.ncbi.nl...
8     FTP download: GEO (BW, TXT) ftp://ftp.ncbi.nlm...
9     FTP download: GEO (BED, TXT) ftp://ftp.ncbi.nl...
...                                                 ...
5845  FTP download: GEO (CEL, GPR) ftp://ftp.ncbi.nl...
5846  FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...
5847  FTP download: GEO (BED, CEL, TXT) ftp://ftp.nc...
5848  FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...
5849  FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...
5850  FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...
5851  FTP download: GEO (CEL) ftp://ftp.ncbi.nlm.nih...
5852  FTP download: GEO ftp://ftp.ncbi.nlm.nih.gov/g...
5853  FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...
5854  FTP download: GEO (CEL, CHP) ftp://ftp.ncbi.nl...

[5855 rows x 1 columns]

In [4]:
df.dtypes

ID    object
dtype: object

In [5]:
#split column ftp

df['Address'] = df.ID.str.split("ftp:",expand=True)[1]
df

,ID,Address
0,FTP download: GEO ftp://ftp.ncbi.nlm.nih.gov/g...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE140nnn/GS...
1,FTP download: GEO ftp://ftp.ncbi.nlm.nih.gov/g...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE138nnn/GS...
2,FTP download: GEO (WIG) ftp://ftp.ncbi.nlm.nih...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE141nnn/GS...
3,"FTP download: GEO (BED, BEDPE, HIC) ftp://ftp....",//ftp.ncbi.nlm.nih.gov/geo/series/GSE137nnn/GS...
4,"FTP download: GEO (BED, BEDPE, HIC) ftp://ftp....",//ftp.ncbi.nlm.nih.gov/geo/series/GSE137nnn/GS...
5,FTP download: GEO (BED) ftp://ftp.ncbi.nlm.nih...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE133nnn/GS...
6,"FTP download: GEO (BW, HIC, WIG) ftp://ftp.ncb...",//ftp.ncbi.nlm.nih.gov/geo/series/GSE139nnn/GS...
7,"FTP download: GEO (TXT, XLS) ftp://ftp.ncbi.nl...",//ftp.ncbi.nlm.nih.gov/geo/series/GSE139nnn/GS...
8,"FTP download: GEO (BW, TXT) ftp://ftp.ncbi.nlm...",//ftp.ncbi.nlm.nih.gov/geo/series/GSE130nnn/GS...
9,"FTP download: GEO (BED, TXT) ftp://ftp.ncbi.nl...",//ftp.ncbi.nlm.nih.gov/geo/series/GSE114nnn/GS...
...,...,...
5845,"FTP download: GEO (CEL, GPR) ftp://ftp.ncbi.nl...",//ftp.ncbi.nlm.nih.gov/geo/series/GSE13nnn/GSE...
5846,FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE13nnn/GSE...
5847,"FTP download: GEO (BED, CEL, TXT) ftp://ftp.nc...",//ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn/GSE...
5848,FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn/GSE...
5849,FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn/GSE...
5850,FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn/GSE...
5851,FTP download: GEO (CEL) ftp://ftp.ncbi.nlm.nih...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn/GSE...
5852,FTP download: GEO ftp://ftp.ncbi.nlm.nih.gov/g...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn/GSE...
5853,FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...,//ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn/GSE...
5854,"FTP download: GEO (CEL, CHP) ftp://ftp.ncbi.nl...",//ftp.ncbi.nlm.nih.gov/geo/series/GSE10nnn/GSE...

In [6]:
#add the first and last part of address
df['Address'] = 'ftp:' + df['Address'].astype(str) + 'miniml/'
df

,ID,Address
0,FTP download: GEO ftp://ftp.ncbi.nlm.nih.gov/g...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...
1,FTP download: GEO ftp://ftp.ncbi.nlm.nih.gov/g...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
2,FTP download: GEO (WIG) ftp://ftp.ncbi.nlm.nih...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...
3,"FTP download: GEO (BED, BEDPE, HIC) ftp://ftp....",ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
4,"FTP download: GEO (BED, BEDPE, HIC) ftp://ftp....",ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
5,FTP download: GEO (BED) ftp://ftp.ncbi.nlm.nih...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...
6,"FTP download: GEO (BW, HIC, WIG) ftp://ftp.ncb...",ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
7,"FTP download: GEO (TXT, XLS) ftp://ftp.ncbi.nl...",ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
8,"FTP download: GEO (BW, TXT) ftp://ftp.ncbi.nlm...",ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...
9,"FTP download: GEO (BED, TXT) ftp://ftp.ncbi.nl...",ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...
...,...,...
5845,"FTP download: GEO (CEL, GPR) ftp://ftp.ncbi.nl...",ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE13nnn...
5846,FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE13nnn...
5847,"FTP download: GEO (BED, CEL, TXT) ftp://ftp.nc...",ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5848,FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5849,FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5850,FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5851,FTP download: GEO (CEL) ftp://ftp.ncbi.nlm.nih...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn...
5852,FTP download: GEO ftp://ftp.ncbi.nlm.nih.gov/g...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn...
5853,FTP download: GEO (TXT) ftp://ftp.ncbi.nlm.nih...,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn...
5854,"FTP download: GEO (CEL, CHP) ftp://ftp.ncbi.nl...",ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE10nnn...

In [7]:
df.to_csv("output.csv", index = False)

WORKING ACCESSION TABLE

In [8]:
#loading the Accession information from efetch table 
df_acc = pd.read_csv('list_access_efetch.txt', sep=r'\s{2,}', engine='python', header=None, names=['GSE_ID'])
df_acc

                                     GSE_ID
Series  Accession: GSE140664\tID: 200140664
Series  Accession: GSE138674\tID: 200138674
Series  Accession: GSE141497\tID: 200141497
Series  Accession: GSE137662\tID: 200137662
Series  Accession: GSE137661\tID: 200137661
Series  Accession: GSE133072\tID: 200133072
Series  Accession: GSE139810\tID: 200139810
Series  Accession: GSE139685\tID: 200139685
Series  Accession: GSE130810\tID: 200130810
Series  Accession: GSE114981\tID: 200114981
...                                     ...
Series   Accession: GSE13313\tID: 200013313
Series   Accession: GSE13084\tID: 200013084
Series   Accession: GSE12889\tID: 200012889
Series   Accession: GSE12783\tID: 200012783
Series   Accession: GSE12782\tID: 200012782
Series   Accession: GSE12781\tID: 200012781
Series   Accession: GSE11673\tID: 200011673
Series   Accession: GSE11672\tID: 200011672
Series   Accession: GSE11892\tID: 200011892
Series   Accession: GSE10437\tID: 200010437

[5855 rows x 1 columns]

In [9]:
#first split - Accession

df_acc['GSE'] = df_acc.GSE_ID.str.split('Accession: ', expand=True)[1]
df_acc

                                     GSE_ID                       GSE
Series  Accession: GSE140664\tID: 200140664  GSE140664\tID: 200140664
Series  Accession: GSE138674\tID: 200138674  GSE138674\tID: 200138674
Series  Accession: GSE141497\tID: 200141497  GSE141497\tID: 200141497
Series  Accession: GSE137662\tID: 200137662  GSE137662\tID: 200137662
Series  Accession: GSE137661\tID: 200137661  GSE137661\tID: 200137661
Series  Accession: GSE133072\tID: 200133072  GSE133072\tID: 200133072
Series  Accession: GSE139810\tID: 200139810  GSE139810\tID: 200139810
Series  Accession: GSE139685\tID: 200139685  GSE139685\tID: 200139685
Series  Accession: GSE130810\tID: 200130810  GSE130810\tID: 200130810
Series  Accession: GSE114981\tID: 200114981  GSE114981\tID: 200114981
...                                     ...                       ...
Series   Accession: GSE13313\tID: 200013313   GSE13313\tID: 200013313
Series   Accession: GSE13084\tID: 200013084   GSE13084\tID: 200013084
Series   Accession: GSE12889\tID: 200012889   GSE12889\tID: 200012889
Series   Accession: GSE12783\tID: 200012783   GSE12783\tID: 200012783
Series   Accession: GSE12782\tID: 200012782   GSE12782\tID: 200012782
Series   Accession: GSE12781\tID: 200012781   GSE12781\tID: 200012781
Series   Accession: GSE11673\tID: 200011673   GSE11673\tID: 200011673
Series   Accession: GSE11672\tID: 200011672   GSE11672\tID: 200011672
Series   Accession: GSE11892\tID: 200011892   GSE11892\tID: 200011892
Series   Accession: GSE10437\tID: 200010437   GSE10437\tID: 200010437

[5855 rows x 2 columns]

In [10]:
#second split: \t

df_acc['gse_id'] = df_acc.GSE.str.split("\t", expand=True)[0]
df_acc

# df_acc['GSE'].str.split("\t")

,GSE_ID,GSE,gse_id
Series,Accession: GSE140664\tID: 200140664,GSE140664\tID: 200140664,GSE140664
Series,Accession: GSE138674\tID: 200138674,GSE138674\tID: 200138674,GSE138674
Series,Accession: GSE141497\tID: 200141497,GSE141497\tID: 200141497,GSE141497
Series,Accession: GSE137662\tID: 200137662,GSE137662\tID: 200137662,GSE137662
Series,Accession: GSE137661\tID: 200137661,GSE137661\tID: 200137661,GSE137661
Series,Accession: GSE133072\tID: 200133072,GSE133072\tID: 200133072,GSE133072
Series,Accession: GSE139810\tID: 200139810,GSE139810\tID: 200139810,GSE139810
Series,Accession: GSE139685\tID: 200139685,GSE139685\tID: 200139685,GSE139685
Series,Accession: GSE130810\tID: 200130810,GSE130810\tID: 200130810,GSE130810
Series,Accession: GSE114981\tID: 200114981,GSE114981\tID: 200114981,GSE114981
...,...,...,...
Series,Accession: GSE13313\tID: 200013313,GSE13313\tID: 200013313,GSE13313
Series,Accession: GSE13084\tID: 200013084,GSE13084\tID: 200013084,GSE13084
Series,Accession: GSE12889\tID: 200012889,GSE12889\tID: 200012889,GSE12889
Series,Accession: GSE12783\tID: 200012783,GSE12783\tID: 200012783,GSE12783
Series,Accession: GSE12782\tID: 200012782,GSE12782\tID: 200012782,GSE12782
Series,Accession: GSE12781\tID: 200012781,GSE12781\tID: 200012781,GSE12781
Series,Accession: GSE11673\tID: 200011673,GSE11673\tID: 200011673,GSE11673
Series,Accession: GSE11672\tID: 200011672,GSE11672\tID: 200011672,GSE11672
Series,Accession: GSE11892\tID: 200011892,GSE11892\tID: 200011892,GSE11892
Series,Accession: GSE10437\tID: 200010437,GSE10437\tID: 200010437,GSE10437

Concatenate the gse column from df_acc with df_ftp dataframe

In [11]:
df_new_ftp = df['Address']
df_new_ftp

0       ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...
1       ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
2       ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...
3       ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
4       ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
5       ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...
6       ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
7       ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
8       ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...
9       ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...
                              ...
5845    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE13nnn...
5846    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE13nnn...
5847    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5848    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5849    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5850    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5851    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn...
5852    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn...
5853    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn...
5854    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE10nnn...
Name: Address, Length: 5855, dtype: object

In [12]:
df_acc_new = df_acc['gse_id']
df_acc_new

Series    GSE140664
Series    GSE138674
Series    GSE141497
Series    GSE137662
Series    GSE137661
Series    GSE133072
Series    GSE139810
Series    GSE139685
Series    GSE130810
Series    GSE114981
            ...
Series     GSE13313
Series     GSE13084
Series     GSE12889
Series     GSE12783
Series     GSE12782
Series     GSE12781
Series     GSE11673
Series     GSE11672
Series     GSE11892
Series     GSE10437
Name: gse_id, Length: 5855, dtype: object

In [13]:
#experiment in a part of dfs
df_ftp_new_test = df_new_ftp[:10]
df_ftp_new_test

0    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...
1    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
2    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...
3    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
4    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
5    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...
6    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
7    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
8    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...
9    ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...
Name: Address, dtype: object

In [14]:
df_acc_new_test = df_acc_new[:10]
df_acc_new_test

Series    GSE140664
Series    GSE138674
Series    GSE141497
Series    GSE137662
Series    GSE137661
Series    GSE133072
Series    GSE139810
Series    GSE139685
Series    GSE130810
Series    GSE114981
Name: gse_id, dtype: object

In [15]:
#to concatenate is necessary resest index and drop=true
df_acc_new_test_res_index = df_acc_new_test.reset_index(drop=True)
df_acc_new_test_res_index

0    GSE140664
1    GSE138674
2    GSE141497
3    GSE137662
4    GSE137661
5    GSE133072
6    GSE139810
7    GSE139685
8    GSE130810
9    GSE114981
Name: gse_id, dtype: object

In [16]:
pd.concat([df_ftp_new_test,df_acc_new_test_res_index], axis=1)

                                             Address     gse_id
0  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...  GSE140664
1  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...  GSE138674
2  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...  GSE141497
3  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...  GSE137662
4  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...  GSE137661
5  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...  GSE133072
6  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...  GSE139810
7  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...  GSE139685
8  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...  GSE130810
9  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...  GSE114981

# concatenate df ftp and accession

In [17]:
#first, reset index and drop true of df_acc_new

df_acc_new_res_index = df_acc_new.reset_index(drop=True)
df_acc_new_res_index

0       GSE140664
1       GSE138674
2       GSE141497
3       GSE137662
4       GSE137661
5       GSE133072
6       GSE139810
7       GSE139685
8       GSE130810
9       GSE114981
          ...
5845     GSE13313
5846     GSE13084
5847     GSE12889
5848     GSE12783
5849     GSE12782
5850     GSE12781
5851     GSE11673
5852     GSE11672
5853     GSE11892
5854     GSE10437
Name: gse_id, Length: 5855, dtype: object

In [18]:
df_ftp_gse_id = pd.concat([df_acc_new_res_index, df_new_ftp], axis=1)
df_ftp_gse_id

         gse_id                                            Address
0     GSE140664  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...
1     GSE138674  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
2     GSE141497  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...
3     GSE137662  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
4     GSE137661  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
5     GSE133072  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...
6     GSE139810  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
7     GSE139685  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
8     GSE130810  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...
9     GSE114981  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...
...         ...                                                ...
5845   GSE13313  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE13nnn...
5846   GSE13084  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE13nnn...
5847   GSE12889  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5848   GSE12783  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5849   GSE12782  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5850   GSE12781  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE12nnn...
5851   GSE11673  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn...
5852   GSE11672  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn...
5853   GSE11892  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE11nnn...
5854   GSE10437  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE10nnn...

[5855 rows x 2 columns]

# Trying to get xml files recursively in a subset

In [19]:
#slice the table for test
df_ftp_gse_id_test_get_xml = df_ftp_gse_id[:11]
df_ftp_gse_id_test_get_xml

       gse_id                                            Address
0   GSE140664  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...
1   GSE138674  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
2   GSE141497  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...
3   GSE137662  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
4   GSE137661  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
5   GSE133072  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...
6   GSE139810  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
7   GSE139685  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
8   GSE130810  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...
9   GSE114981  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...
10  GSE138812  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...

In [26]:
#we need to put .filter to get the columns as dataframe
new_df_test_urls = df_ftp_gse_id_test_get_xml.filter(['Address'], axis=1)
new_df_test_urls

                                              Address
0   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...
1   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
2   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...
3   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
4   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
5   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...
6   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
7   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
8   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...
9   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...
10  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...

In [33]:
#we need to improve the address to files...

#1 split the lines by /


new_df_test_urls['GSE_CODE'] = new_df_test_urls['Address'].str.split("/", expand=True)[6]

new_df_test_urls

                                              Address   GSE_CODE
0   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...  GSE140664
1   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...  GSE138674
2   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...  GSE141497
3   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...  GSE137662
4   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...  GSE137661
5   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...  GSE133072
6   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...  GSE139810
7   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...  GSE139685
8   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...  GSE130810
9   ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...  GSE114981
10  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...  GSE138812

In [36]:
#Creating a new column with full address (sum GSE_Code + _family.xml.tgz) 

new_df_test_urls['Full_Address'] = new_df_test_urls['Address'].astype(str) + new_df_test_urls['GSE_CODE'] + '_family.xml.tgz'
new_df_test_urls

,Address,GSE_CODE,Full_Address
0,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...,GSE140664,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...
1,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...,GSE138674,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
2,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...,GSE141497,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...
3,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...,GSE137662,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
4,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...,GSE137661,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
5,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...,GSE133072,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...
6,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...,GSE139810,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
7,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...,GSE139685,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
8,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...,GSE130810,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...
9,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...,GSE114981,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...
10,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...,GSE138812,ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...

In [38]:
#saving our df full_address test to txt file 
new_df_test_urls['Full_Address'].to_csv('new_df_test_urls_full.txt', header=None, index=None, sep=' ', mode='a')

# Subprocess - Optimizing

In [133]:
import subprocess
import os

In [40]:
#another slice in our table

df_ftp_gse_id_test_get_xml_2 = df_ftp_gse_id[12:22]
df_ftp_gse_id_test_get_xml_2

       gse_id                                            Address
12  GSE118993  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE118nn...
13  GSE138378  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
14  GSE137527  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
15  GSE124197  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE124nn...
16  GSE113654  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE113nn...
17  GSE110405  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE110nn...
18  GSE107315  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE107nn...
19  GSE100789  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE100nn...
20   GSE92483  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE92nnn...
21   GSE75527  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE75nnn...

In [72]:
#another slice to get the first 20 rows

df_ftp_gse_xml_20_rows = df_ftp_gse_id[:20]
df_ftp_gse_xml_20_rows

       gse_id                                            Address
0   GSE140664  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE140nn...
1   GSE138674  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
2   GSE141497  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE141nn...
3   GSE137662  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
4   GSE137661  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
5   GSE133072  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...
6   GSE139810  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
7   GSE139685  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE139nn...
8   GSE130810  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE130nn...
9   GSE114981  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE114nn...
10  GSE138812  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
11  GSE133208  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE133nn...
12  GSE118993  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE118nn...
13  GSE138378  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE138nn...
14  GSE137527  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE137nn...
15  GSE124197  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE124nn...
16  GSE113654  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE113nn...
17  GSE110405  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE110nn...
18  GSE107315  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE107nn...
19  GSE100789  ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE100nn...

In [56]:
#teste 2 - optimizing link cration in a loop. It works. We need to create directories for each 500 files downloaded - lets try with a df 

#Testing in df containing 20 rows

#index - number of rows...serves as a count

for index, row in df_ftp_gse_id_test_get_xml_2.iterrows():
    sample_name = row["Address"].split("/")
    test_2 = '/home/local/USHERBROOKE/frog2901/Documents/XML_TEST/test_2' #specifying a path
    link = row["Address"] + sample_name[6] + "_family.xml.tgz"
  
    subprocess.run(["wget", link, "-P", test_2])

In [138]:
#Get directories

#problems solved after xxxxxxxxx testsss
#the indetation of last code / counter working
#test with %5 in a df with 20 rows


#Funciton create directories to store our files
def create_dir(path):    
    try:
        os.mkdir(path)
        print("Directory {} done".format(path))
    except OSError:
        print("Directory {} failed".format(path))
            

root_path = '/home/local/USHERBROOKE/frog2901/Documents/XML_TEST'
prefix_dir = 'GEO_'
counter = 1                                                                  

path = os.path.join(root_path , prefix_dir + str(counter))
create_dir(path)


#create the correct link and download the xml files
for index, row in df_ftp_gse_xml_20_rows.iterrows():    
    if (index + 1) % 10 == 0:  
        counter += 1
        path = os.path.join(root_path, prefix_dir + str(counter))
        create_dir(path)    
        
    sample_name = row["Address"].split("/")
    link = row["Address"] + sample_name[6] + "_family.xml.tgz" 
    subprocess.run(["wget", link, "-P", path])

Directory /home/local/USHERBROOKE/frog2901/Documents/XML_TEST/GEO_1 done
Directory /home/local/USHERBROOKE/frog2901/Documents/XML_TEST/GEO_2 done
Directory /home/local/USHERBROOKE/frog2901/Documents/XML_TEST/GEO_3 done

# Run the code in all table split the directories (500 files in each one)

In [ ]:
#after df_ftp_gse_id