# Quantitative Pilot - 500 Randomly GSE

Quantitative analysis GSM per GSM (geometadb x geo NCBI XML)

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 20)

gsm_gse_geodb = pd.read_csv('/home/local/USHERBROOKE/frog2901/Documents/venv/JF_Frosi_Code_NGS-QC/gsm_gse_all_GEOdb.csv', sep=',' )

In [2]:
#GEOmetadb table from R - general (without filters) and not grouped

gsm_gse_geodb

                gsm  series_id       gpl
0              GSM1     GSE506      GPL4
1              GSM2     GSE506      GPL4
2              GSM3     GSE462      GPL5
3              GSM4     GSE462      GPL5
4              GSM5     GSE462      GPL5
5              GSM6     GSE462      GPL5
6              GSM7     GSE462      GPL5
7              GSM8     GSE462      GPL5
8              GSM9     GSE462      GPL5
9             GSM10     GSE462      GPL5
...             ...        ...       ...
3251475  GSM3891678  GSE132773  GPL17021
3251476  GSM3891679  GSE132773  GPL17021
3251477  GSM3891680  GSE132773  GPL17021
3251478  GSM3891681  GSE132773  GPL17021
3251479  GSM3891682  GSE132773  GPL17021
3251480  GSM3891683  GSE132773  GPL17021
3251481  GSM3891684  GSE132773  GPL17021
3251482  GSM3891686  GSE132773  GPL17021
3251483  GSM3891688  GSE132773  GPL17021
3251484  GSM3891690  GSE132773  GPL17021

[3251485 rows x 3 columns]

In [4]:
#from the column 'series_id', 500 GSE were selected randomly

#however, we have some rows which contain more than one GSE. So, to avoid problems with NGS-QC table match,
#just the first element in this case were selected.


gse_list = np.random.choice(gsm_gse_geodb['series_id'].unique(), 500).tolist() #get 500 GSE randomly
gse_list

gse_all = []
for i in gse_list:
    a = i.split(',') #split is necessary because there are some GSM that are related with more then one GSE
    gse_all.append(a[0]) #in the cases mentioned above, the code will get the first one

print(len(gse_all))

500

In [165]:
#Previously, in the merged table, GSE GSE121400 did not appear, because it is together with another GSE (2 SAMPLES).  
#So, was necessary split the column and get the first element to match with our list.


gsm_gse_geodb['GSE'] = gsm_gse_geodb['series_id'].str.split(',').str[0]

In [164]:
gsm_gse_geodb.head() #ok

    gsm series_id   gpl     GSE
0  GSM1    GSE506  GPL4  GSE506
1  GSM2    GSE506  GPL4  GSE506
2  GSM3    GSE462  GPL5  GSE462
3  GSM4    GSE462  GPL5  GSE462
4  GSM5    GSE462  GPL5  GSE462

In [103]:
#grouping b splitedy column - the problem is: the first element, as GSE1000, sometimes, is the second element in some rows.
#because of this, we wont be able to count the all GSM related to this GSE - we need to pay atention when merged the tables

gsm_gse_geodb_grouped = gsm_gse_geodb.groupby(['GSE'])['gsm'].count().reset_index()
gsm_gse_geodb_grouped.head()

         GSE  gsm
0       GSE1   38
1      GSE10    4
2     GSE100    4
3   GSE10000   29
4  GSE100001    6

### Example Position Issue - GSE1000

In [ ]:
# gsm_gse_geodb[gsm_gse_geodb['GSE'].str.contains('GSE1000', na=False)]

# Find the 500 selected series in geometadb grouped

In [114]:



gsm_gse_geodb_grouped_500 = gsm_gse_geodb_grouped[gsm_gse_geodb_grouped['GSE'].isin(gse_all)].reset_index(drop=True) 

gsm_gse_geodb_grouped_500.rename(columns={'gsm': 'samples_GEOdb'}, inplace=True) #499 rows...I do not know why

gsm_gse_geodb_grouped_500.head()

         GSE  samples_GEOdb
0  GSE100068             15
1  GSE100811              4
2  GSE101190              1
3  GSE101508             10
4  GSE101879             12

# XML from NCBI - 500 GSE selected above

In [9]:

import urllib.request
import lxml.html as lh
from bs4 import BeautifulSoup
import requests
import re
from time import sleep

#I've tried download the txt file to extract the information. However, in txt file there is no quantitative of samples by GSE, just by GPL
#I tried to parse "if Samples in td". However, the tr related with our information is too long, and the code was return a lot of text, not just the quantitative information
#because of this, I did a regex to be more specific.



regex = re.compile('Samples\s+\(\d+\)')  #get the sample (number)
gse_samples_ncbi =[]

for gse in gse_all:
    url = 'https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=' + gse
    response = requests.get(url)
    data = response.text
    soup = BeautifulSoup(data, 'lxml')
    tr = soup.findAll("tr", {"valign" : "top"}) #ok    

    for td in tr:
        match = re.search(regex, td.text)
        if match:
            gse_samples_ncbi.append([gse, match.group(0)])
    
    sleep(2) #Ok

print(gse_samples_ncbi)

[['GSE76110', 'Samples (16)'], ['GSE114799', 'Samples (138)'], ['GSE38924', 'Samples (1)'], ['GSE91069', 'Samples (31)'], ['GSE6903', 'Samples (6)'], ['GSE125134', 'Samples (28)'], ['GSE121400', 'Samples (2)'], ['GSE66578', 'Samples (6)'], ['GSE13150', 'Samples (202)'], ['GSE123081', 'Samples (2)'], ['GSE19359', 'Samples (8)'], ['GSE41403', 'Samples (1)'], ['GSE98040', 'Samples (8)'], ['GSE5646', 'Samples (7)'], ['GSE72937', 'Samples (9)'], ['GSE40173', 'Samples (19)'], ['GSE16795', 'Samples (39)'], ['GSE83012', 'Samples (2)'], ['GSE117450', 'Samples (5)'], ['GSE51192', 'Samples (16)'], ['GSE50418', 'Samples (8)'], ['GSE63322', 'Samples (4)'], ['GSE107115', 'Samples (158)'], ['GSE7931', 'Samples (56)'], ['GSE8661', 'Samples (15)'], ['GSE49373', 'Samples (6)'], ['GSE26197', 'Samples (16)'], ['GSE4808', 'Samples (69)'], ['GSE12688', 'Samples (18)'], ['GSE8967', 'Samples (10)'], ['GSE89728', 'Samples (22)'], ['GSE88454', 'Samples (2)'], ['GSE105729', 'Samples (2)'], ['GSE73265', 'Samples (36)'], ['GSE121239', 'Samples (312)'], ['GSE48922', 'Samples (8)'], ['GSE30327', 'Samples (2)'], ['GSE47673', 'Samples (132)'], ['GSE64324', 'Samples (6)'], ['GSE6862', 'Samples (3)'], ['GSE116562', 'Samples (6)'], ['GSE65298', 'Samples (62)'], ['GSE93950', 'Samples (6)'], ['GSE116886', 'Samples (12)'], ['GSE20292', 'Samples (29)'], ['GSE74235', 'Samples (15)'], ['GSE9004', 'Samples (4)'], ['GSE58642', 'Samples (32)'], ['GSE55541', 'Samples (16)'], ['GSE72682', 'Samples (15)'], ['GSE76653', 'Samples (12)'], ['GSE33810', 'Samples (3)'], ['GSE25618', 'Samples (10)'], ['GSE88437', 'Samples (1)'], ['GSE37629', 'Samples (6)'], ['GSE59627', 'Samples (39)'], ['GSE79115', 'Samples (6)'], ['GSE51825', 'Samples (14)'], ['GSE78024', 'Samples (6)'], ['GSE90402', 'Samples (1)'], ['GSE3468', 'Samples (8)'], ['GSE21589', 'Samples (42)'], ['GSE98953', 'Samples (6)'], ['GSE112467', 'Samples (6)'], ['GSE5086', 'Samples (81)'], ['GSE6340', 'Samples (6)'], ['GSE49571', 'Samples (20)'], ['GSE47200', 'Samples (1)'], ['GSE121568', 'Samples (2)'], ['GSE33119', 'Samples (40)'], ['GSE67703', 'Samples (2)'], ['GSE50073', 'Samples (4)'], ['GSE51931', 'Samples (18)'], ['GSE57033', 'Samples (16)'], ['GSE105587', 'Samples (2)'], ['GSE24690', 'Samples (56)'], ['GSE37140', 'Samples (4)'], ['GSE71373', 'Samples (12)'], ['GSE9054', 'Samples (9)'], ['GSE72601', 'Samples (3)'], ['GSE86345', 'Samples (9)'], ['GSE22127', 'Samples (2)'], ['GSE75783', 'Samples (16)'], ['GSE83927', 'Samples (8)'], ['GSE8603', 'Samples (9)'], ['GSE111834', 'Samples (4)'], ['GSE16002', 'Samples (9)'], ['GSE100811', 'Samples (4)'], ['GSE17940', 'Samples (12)'], ['GSE108924', 'Samples (4)'], ['GSE94162', 'Samples (1)'], ['GSE89040', 'Samples (14)'], ['GSE30448', 'Samples (6)'], ['GSE104406', 'Samples (20)'], ['GSE60673', 'Samples (6)'], ['GSE126931', 'Samples (10)'], ['GSE73853', 'Samples (13)'], ['GSE59172', 'Samples (1)'], ['GSE118821', 'Samples (4)'], ['GSE16384', 'Samples (20)'], ['GSE29459', 'Samples (2)'], ['GSE95300', 'Samples (6)'], ['GSE4445', 'Samples (4)'], ['GSE61487', 'Samples (5)'], ['GSE80005', 'Samples (8)'], ['GSE88060', 'Samples (2)'], ['GSE21520', 'Samples (31)'], ['GSE80894', 'Samples (2)'], ['GSE66384', 'Samples (14)'], ['GSE3090', 'Samples (9)'], ['GSE76362', 'Samples (22)'], ['GSE102262', 'Samples (8)'], ['GSE11207', 'Samples (6)'], ['GSE77303', 'Samples (12)'], ['GSE27331', 'Samples (46)'], ['GSE31027', 'Samples (6)'], ['GSE38093', 'Samples (48)'], ['GSE64742', 'Samples (12)'], ['GSE17033', 'Samples (30)'], ['GSE50777', 'Samples (9)'], ['GSE39304', 'Samples (84)'], ['GSE112416', 'Samples (6)'], ['GSE20223', 'Samples (6)'], ['GSE84003', 'Samples (12)'], ['GSE40290', 'Samples (33)'], ['GSE111471', 'Samples (16)'], ['GSE69136', 'Samples (24)'], ['GSE47803', 'Samples (12)'], ['GSE99287', 'Samples (58)'], ['GSE110511', 'Samples (24)'], ['GSE69882', 'Samples (7)'], ['GSE62907', 'Samples (39)'], ['GSE131736', 'Samples (16)'], ['GSE18919', 'Samples (16)'], ['GSE104697', 'Samples (11)'], ['GSE34378', 'Samples (90)'], ['GSE16116', 'Samples (46)'], ['GSE7277', 'Samples (6)'], ['GSE4242', 'Samples (112)'], ['GSE15967', 'Samples (4)'], ['GSE96863', 'Samples (6)'], ['GSE17024', 'Samples (4)'], ['GSE57650', 'Samples (8)'], ['GSE76586', 'Samples (21)'], ['GSE127567', 'Samples (2)'], ['GSE113543', 'Samples (4)'], ['GSE106603', 'Samples (2)'], ['GSE49249', 'Samples (3)'], ['GSE112343', 'Samples (12)'], ['GSE8949', 'Samples (20)'], ['GSE70046', 'Samples (7)'], ['GSE11338', 'Samples (302)'], ['GSE118888', 'Samples (8)'], ['GSE114175', 'Samples (18)'], ['GSE15067', 'Samples (12)'], ['GSE82972', 'Samples (4)'], ['GSE44346', 'Samples (12)'], ['GSE24627', 'Samples (4)'], ['GSE124506', 'Samples (12)'], ['GSE78710', 'Samples (16)'], ['GSE32094', 'Samples (12)'], ['GSE36549', 'Samples (14)'], ['GSE36298', 'Samples (33)'], ['GSE69614', 'Samples (19)'], ['GSE22997', 'Samples (13)'], ['GSE114952', 'Samples (30)'], ['GSE65116', 'Samples (5)'], ['GSE77415', 'Samples (2)'], ['GSE84904', 'Samples (2)'], ['GSE51614', 'Samples (9)'], ['GSE38809', 'Samples (5)'], ['GSE13836', 'Samples (2)'], ['GSE86839', 'Samples (8)'], ['GSE115548', 'Samples (4)'], ['GSE108472', 'Samples (6)'], ['GSE42132', 'Samples (10)'], ['GSE13336', 'Samples (11)'], ['GSE28479', 'Samples (6)'], ['GSE97368', 'Samples (8)'], ['GSE57740', 'Samples (4)'], ['GSE8512', 'Samples (207)'], ['GSE99259', 'Samples (6)'], ['GSE105644', 'Samples (1)'], ['GSE51220', 'Samples (18)'], ['GSE7191', 'Samples (50)'], ['GSE110081', 'Samples (23)'], ['GSE74457', 'Samples (4)'], ['GSE118872', 'Samples (24)'], ['GSE113568', 'Samples (6)'], ['GSE40383', 'Samples (12)'], ['GSE60531', 'Samples (6)'], ['GSE125050', 'Samples (113)'], ['GSE22311', 'Samples (2)'], ['GSE130991', 'Samples (910)'], ['GSE19622', 'Samples (26)'], ['GSE30351', 'Samples (21)'], ['GSE34266', 'Samples (3)'], ['GSE16247', 'Samples (16)'], ['GSE121780', 'Samples (18)'], ['GSE28543', 'Samples (32)'], ['GSE63198', 'Samples (6)'], ['GSE52842', 'Samples (12)'], ['GSE13921', 'Samples (12)'], ['GSE44245', 'Samples (6)'], ['GSE111592', 'Samples (16)'], ['GSE118187', 'Samples (8)'], ['GSE46198', 'Samples (18)'], ['GSE52624', 'Samples (8)'], ['GSE104961', 'Samples (3)'], ['GSE104507', 'Samples (8)'], ['GSE65458', 'Samples (24)'], ['GSE97943', 'Samples (6)'], ['GSE119669', 'Samples (6)'], ['GSE44831', 'Samples (8)'], ['GSE109978', 'Samples (24)'], ['GSE405', 'Samples (10)'], ['GSE35000', 'Samples (12)'], ['GSE29243', 'Samples (4)'], ['GSE36316', 'Samples (9)'], ['GSE114350', 'Samples (10)'], ['GSE62562', 'Samples (9)'], ['GSE42220', 'Samples (19)'], ['GSE7582', 'Samples (2)'], ['GSE18397', 'Samples (4)'], ['GSE28484', 'Samples (6)'], ['GSE123204', 'Samples (2)'], ['GSE113539', 'Samples (8)'], ['GSE35953', 'Samples (35)'], ['GSE113164', 'Samples (60)'], ['GSE55479', 'Samples (143)'], ['GSE5549', 'Samples (7)'], ['GSE107669', 'Samples (18)'], ['GSE116028', 'Samples (13)'], ['GSE23660', 'Samples (42)'], ['GSE35374', 'Samples (6)'], ['GSE8324', 'Samples (14)'], ['GSE29836', 'Samples (14)'], ['GSE45888', 'Samples (69)'], ['GSE101879', 'Samples (12)'], ['GSE46539', 'Samples (230)'], ['GSE65851', 'Samples (47)'], ['GSE15587', 'Samples (6)'], ['GSE24561', 'Samples (18)'], ['GSE17658', 'Samples (4)'], ['GSE82949', 'Samples (2)'], ['GSE4498', 'Samples (22)'], ['GSE121990', 'Samples (2)'], ['GSE77218', 'Samples (3)'], ['GSE88728', 'Samples (12)'], ['GSE88343', 'Samples (2)'], ['GSE24023', 'Samples (14)'], ['GSE80457', 'Samples (12)'], ['GSE48284', 'Samples (9)'], ['GSE208', 'Samples (2)'], ['GSE78355', 'Samples (1)'], ['GSE1375', 'Samples (2)'], ['GSE11484', 'Samples (6)'], ['GSE8835', 'Samples (66)'], ['GSE106689', 'Samples (8)'], ['GSE26510', 'Samples (24)'], ['GSE59720', 'Samples (72)'], ['GSE54598', 'Samples (4)'], ['GSE32695', 'Samples (4)'], ['GSE112031', 'Samples (8)'], ['GSE43382', 'Samples (7)'], ['GSE76210', 'Samples (6)'], ['GSE84747', 'Samples (12)'], ['GSE110277', 'Samples (8)'], ['GSE51049', 'Samples (8)'], ['GSE120896', 'Samples (12)'], ['GSE51845', 'Samples (4)'], ['GSE27294', 'Samples (4)'], ['GSE73830', 'Samples (15)'], ['GSE4593', 'Samples (6)'], ['GSE55602', 'Samples (8)'], ['GSE12064', 'Samples (6)'], ['GSE1633', 'Samples (36)'], ['GSE38529', 'Samples (6)'], ['GSE128383', 'Samples (16)'], ['GSE106677', 'Samples (71)'], ['GSE108638', 'Samples (4)'], ['GSE89772', 'Samples (2)'], ['GSE43066', 'Samples (8)'], ['GSE85386', 'Samples (14)'], ['GSE68854', 'Samples (36)'], ['GSE57817', 'Samples (9)'], ['GSE70121', 'Samples (12)'], ['GSE423', 'Samples (8)'], ['GSE11492', 'Samples (8)'], ['GSE35078', 'Samples (3)'], ['GSE97387', 'Samples (3)'], ['GSE36776', 'Samples (4)'], ['GSE35320', 'Samples (182)'], ['GSE21715', 'Samples (6)'], ['GSE96227', 'Samples (2)'], ['GSE118493', 'Samples (6)'], ['GSE2928', 'Samples (12)'], ['GSE127462', 'Samples (302)'], ['GSE61889', 'Samples (6)'], ['GSE85252', 'Samples (8)'], ['GSE15417', 'Samples (9)'], ['GSE54441', 'Samples (6)'], ['GSE61204', 'Samples (4)'], ['GSE109003', 'Samples (10)'], ['GSE64510', 'Samples (6)'], ['GSE74659', 'Samples (6)'], ['GSE27964', 'Samples (36)'], ['GSE120924', 'Samples (6)'], ['GSE2259', 'Samples (10)'], ['GSE108327', 'Samples (4)'], ['GSE80113', 'Samples (4)'], ['GSE19183', 'Samples (7)'], ['GSE78331', 'Samples (2)'], ['GSE25279', 'Samples (9)'], ['GSE34023', 'Samples (28)'], ['GSE100068', 'Samples (15)'], ['GSE57521', 'Samples (25)'], ['GSE36991', 'Samples (1)'], ['GSE54364', 'Samples (59)'], ['GSE38601', 'Samples (6)'], ['GSE84040', 'Samples (2)'], ['GSE10625', 'Samples (5)'], ['GSE109827', 'Samples (69)'], ['GSE17561', 'Samples (18)'], ['GSE908', 'Samples (10)'], ['GSE37018', 'Samples (4)'], ['GSE106555', 'Samples (2)'], ['GSE76381', 'Samples (6179)'], ['GSE48729', 'Samples (4)'], ['GSE23216', 'Samples (6)'], ['GSE82190', 'Samples (16)'], ['GSE35838', 'Samples (4)'], ['GSE115497', 'Samples (90)'], ['GSE26746', 'Samples (6)'], ['GSE87241', 'Samples (6)'], ['GSE74087', 'Samples (12)'], ['GSE122976', 'Samples (1)'], ['GSE21850', 'Samples (3)'], ['GSE19632', 'Samples (44)'], ['GSE11318', 'Samples (406)'], ['GSE67761', 'Samples (11)'], ['GSE117585', 'Samples (11)'], ['GSE94232', 'Samples (2)'], ['GSE6487', 'Samples (30)'], ['GSE29202', 'Samples (7)'], ['GSE90366', 'Samples (1)'], ['GSE12439', 'Samples (67)'], ['GSE31960', 'Samples (6)'], ['GSE117161', 'Samples (18)'], ['GSE74819', 'Samples (36)'], ['GSE94639', 'Samples (12)'], ['GSE59939', 'Samples (20)'], ['GSE456', 'Samples (2)'], ['GSE52877', 'Samples (2)'], ['GSE128654', 'Samples (74)'], ['GSE112217', 'Samples (10)'], ['GSE89128', 'Samples (76)'], ['GSE53418', 'Samples (32)'], ['GSE129565', 'Samples (9)'], ['GSE38027', 'Samples (4)'], ['GSE88897', 'Samples (18)'], ['GSE42945', 'Samples (44)'], ['GSE98919', 'Samples (42)'], ['GSE37954', 'Samples (18)'], ['GSE101508', 'Samples (10)'], ['GSE132183', 'Samples (24)'], ['GSE12770', 'Samples (36)'], ['GSE130526', 'Samples (1)'], ['GSE109733', 'Samples (12)'], ['GSE51888', 'Samples (11)'], ['GSE64358', 'Samples (96)'], ['GSE11382', 'Samples (10)'], ['GSE10893', 'Samples (504)'], ['GSE5212', 'Samples (117)'], ['GSE9522', 'Samples (10)'], ['GSE85716', 'Samples (12)'], ['GSE114708', 'Samples (6)'], ['GSE42689', 'Samples (10)'], ['GSE37839', 'Samples (48)'], ['GSE23493', 'Samples (12)'], ['GSE68387', 'Samples (2666)'], ['GSE8867', 'Samples (23)'], ['GSE29053', 'Samples (4)'], ['GSE102693', 'Samples (19)'], ['GSE16874', 'Samples (12)'], ['GSE68421', 'Samples (32)'], ['GSE40033', 'Samples (14)'], ['GSE109469', 'Samples (6)'], ['GSE89022', 'Samples (10)'], ['GSE132549', 'Samples (28)'], ['GSE57075', 'Samples (6)'], ['GSE22862', 'Samples (30)'], ['GSE74939', 'Samples (12)'], ['GSE11565', 'Samples (7)'], ['GSE122781', 'Samples (30)'], ['GSE113848', 'Samples (12)'], ['GSE44260', 'Samples (10)'], ['GSE12211', 'Samples (12)'], ['GSE82399', 'Samples (2)'], ['GSE90565', 'Samples (26)'], ['GSE80884', 'Samples (2)'], ['GSE25105', 'Samples (10)'], ['GSE16897', 'Samples (14)'], ['GSE88360', 'Samples (2)'], ['GSE62030', 'Samples (30)'], ['GSE44383', 'Samples (2)'], ['GSE118521', 'Samples (12)'], ['GSE106092', 'Samples (6)'], ['GSE52424', 'Samples (8)'], ['GSE66786', 'Samples (3)'], ['GSE41198', 'Samples (22)'], ['GSE85213', 'Samples (4)'], ['GSE34864', 'Samples (76)'], ['GSE118397', 'Samples (3)'], ['GSE97122', 'Samples (9)'], ['GSE61618', 'Samples (12)'], ['GSE62206', 'Samples (8)'], ['GSE18716', 'Samples (1)'], ['GSE86174', 'Samples (7)'], ['GSE90879', 'Samples (8)'], ['GSE127974', 'Samples (18)'], ['GSE19829', 'Samples (70)'], ['GSE61717', 'Samples (6)'], ['GSE108466', 'Samples (12)'], ['GSE87528', 'Samples (161)'], ['GSE110124', 'Samples (5)'], ['GSE92920', 'Samples (8)'], ['GSE38953', 'Samples (16)'], ['GSE64067', 'Samples (8)'], ['GSE74083', 'Samples (12)'], ['GSE104178', 'Samples (6)'], ['GSE44524', 'Samples (4)'], ['GSE62643', 'Samples (8)'], ['GSE109395', 'Samples (31)'], ['GSE52439', 'Samples (6)'], ['GSE106182', 'Samples (154)'], ['GSE37099', 'Samples (6)'], ['GSE101190', 'Samples (1)'], ['GSE52070', 'Samples (2)'], ['GSE83312', 'Samples (14)'], ['GSE21933', 'Samples (42)'], ['GSE72480', 'Samples (6)'], ['GSE35732', 'Samples (12)'], ['GSE18440', 'Samples (25)'], ['GSE66835', 'Samples (9)'], ['GSE8759', 'Samples (101)'], ['GSE22565', 'Samples (12)'], ['GSE116956', 'Samples (7)'], ['GSE41520', 'Samples (8)'], ['GSE60709', 'Samples (33)'], ['GSE115863', 'Samples (20)'], ['GSE16342', 'Samples (23)'], ['GSE36221', 'Samples (221)'], ['GSE57994', 'Samples (6)'], ['GSE11508', 'Samples (219)'], ['GSE12388', 'Samples (8)'], ['GSE50479', 'Samples (6)'], ['GSE94144', 'Samples (10)'], ['GSE41756', 'Samples (15)'], ['GSE94578', 'Samples (3)'], ['GSE38966', 'Samples (24)'], ['GSE82181', 'Samples (14)'], ['GSE111808', 'Samples (18)'], ['GSE90894', 'Samples (22)'], ['GSE124340', 'Samples (36)'], ['GSE103465', 'Samples (6)'], ['GSE40678', 'Samples (32)'], ['GSE10681', 'Samples (16)'], ['GSE9543', 'Samples (2)'], ['GSE73997', 'Samples (6)'], ['GSE88402', 'Samples (1)'], ['GSE88766', 'Samples (2)'], ['GSE65299', 'Samples (9)'], ['GSE66186', 'Samples (70)'], ['GSE76125', 'Samples (9)'], ['GSE37272', 'Samples (17)'], ['GSE64073', 'Samples (100)'], ['GSE32921', 'Samples (6)'], ['GSE120322', 'Samples (1)'], ['GSE92831', 'Samples (3)'], ['GSE94541', 'Samples (24)'], ['GSE62330', 'Samples (5)'], ['GSE111092', 'Samples (8)'], ['GSE95548', 'Samples (14)'], ['GSE16655', 'Samples (47)'], ['GSE81775', 'Samples (4)'], ['GSE44685', 'Samples (30)'], ['GSE29455', 'Samples (22)'], ['GSE77914', 'Samples (8)'], ['GSE110045', 'Samples (4)'], ['GSE114345', 'Samples (7)'], ['GSE78447', 'Samples (1)'], ['GSE89731', 'Samples (6)'], ['GSE44265', 'Samples (32)'], ['GSE60673', 'Samples (6)'], ['GSE45695', 'Samples (6)'], ['GSE94625', 'Samples (103)'], ['GSE31726', 'Samples (5)'], ['GSE99355', 'Samples (65)'], ['GSE110639', 'Samples (6)']]

In [10]:
#Check the length of our list - Ok

print(len(gse_samples_ncbi))

500

In [11]:
header = ['GSE', 'Samples_NCBI']

In [108]:
#Create a df from NCBI data

gse_samples_ncbi_df  = pd.DataFrame(gse_samples_ncbi, columns=header)

gse_samples_ncbi_df.head()

         GSE   Samples_NCBI
0   GSE76110   Samples (16)
1  GSE114799  Samples (138)
2   GSE38924    Samples (1)
3   GSE91069   Samples (31)
4    GSE6903    Samples (6)

In [166]:
#merging tables 

df_merged = pd.merge(gse_samples_ncbi_df, gsm_gse_geodb_grouped_500, on='GSE', how='left') 

df_merged

#samples_GEOdb is a int. we need to change the samples_NCBI type

           GSE   Samples_NCBI  samples_GEOdb
0     GSE76110   Samples (16)             16
1    GSE114799  Samples (138)            138
2     GSE38924    Samples (1)              1
3     GSE91069   Samples (31)             31
4      GSE6903    Samples (6)              6
5    GSE125134   Samples (28)             28
6    GSE121400    Samples (2)              2
7     GSE66578    Samples (6)              6
8     GSE13150  Samples (202)              7
9    GSE123081    Samples (2)              2
..         ...            ...            ...
490  GSE114345    Samples (7)              7
491   GSE78447    Samples (1)              1
492   GSE89731    Samples (6)              6
493   GSE44265   Samples (32)             32
494   GSE60673    Samples (6)              6
495   GSE45695    Samples (6)              6
496   GSE94625  Samples (103)            103
497   GSE31726    Samples (5)              5
498   GSE99355   Samples (65)             65
499  GSE110639    Samples (6)              6

[500 rows x 3 columns]

### Example GSE13150 - values did no match

In [132]:
#GSE13150
#str.contains is getting another GSE where its substring is GSE13150. 

gsm_gse_geodb[gsm_gse_geodb['series_id'].str.contains('GSE13150', na=False)]

                gsm         series_id       gpl        GSE
139722    GSM156606  GSE7045,GSE13150   GPL4661    GSE7045
139723    GSM156607  GSE7045,GSE13150   GPL4661    GSE7045
139724    GSM156608  GSE7045,GSE13150   GPL4661    GSE7045
139725    GSM156609  GSE7045,GSE13150   GPL4661    GSE7045
139726    GSM156610  GSE7045,GSE13150   GPL4661    GSE7045
139727    GSM156611  GSE7045,GSE13150   GPL4661    GSE7045
139728    GSM156612  GSE7045,GSE13150   GPL4661    GSE7045
139729    GSM156613  GSE7045,GSE13150   GPL4661    GSE7045
139730    GSM156614  GSE7045,GSE13150   GPL4661    GSE7045
139732    GSM156616  GSE7045,GSE13150   GPL4661    GSE7045
...             ...               ...       ...        ...
3197070  GSM3782932         GSE131503  GPL18573  GSE131503
3197071  GSM3782933         GSE131503  GPL18573  GSE131503
3197072  GSM3782934         GSE131503  GPL18573  GSE131503
3197073  GSM3782935         GSE131503  GPL18573  GSE131503
3197074  GSM3782936         GSE131503  GPL18573  GSE131503
3197075  GSM3782937         GSE131503  GPL18573  GSE131503
3197076  GSM3782938         GSE131503  GPL18573  GSE131503
3197077  GSM3782939         GSE131503  GPL18573  GSE131503
3197078  GSM3782940         GSE131503  GPL18573  GSE131503
3197079  GSM3782941         GSE131503  GPL18573  GSE131503

[214 rows x 4 columns]

In [222]:
#we have exactaly 202 samples. The problem is that str.contains get a substring - 12 more rows (GSE131503!)

for gse in df_GSE13150['series_id']:
    if 'GSE13150' in gse:
        print(gse)

GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13150,GSE15786
GSE13150,GSE15786
GSE13150,GSE15786
GSE13150,GSE15786
GSE13150,GSE15786
GSE13150,GSE15788
GSE13150,GSE15788
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503

# Comparing values

In [224]:
#Transform Samples_NCBI string in values 

df_merged['samples_ncbi'] = df_merged['Samples_NCBI'].str.strip().str.split(' ').str.get(1).str.replace('(', ' ').str.replace(')', ' ').astype(int)

df_merged_final = df_merged.drop(columns=['Samples_NCBI']) #removing our string column


df_merged_final #ok

           GSE  samples_GEOdb  samples_ncbi
0     GSE76110             16            16
1    GSE114799            138           138
2     GSE38924              1             1
3     GSE91069             31            31
4      GSE6903              6             6
5    GSE125134             28            28
6    GSE121400              2             2
7     GSE66578              6             6
8     GSE13150              7           202
9    GSE123081              2             2
..         ...            ...           ...
490  GSE114345              7             7
491   GSE78447              1             1
492   GSE89731              6             6
493   GSE44265             32            32
494   GSE60673              6             6
495   GSE45695              6             6
496   GSE94625            103           103
497   GSE31726              5             5
498   GSE99355             65            65
499  GSE110639              6             6

[500 rows x 3 columns]

In [162]:
#Check the GSE that not matched with the NCBI because of the limitation of position. Just 9 GSE from 500

df_merged_final['values_checked'] = np.where(df_merged_final['samples_ncbi']!=df_merged_final['samples_GEOdb'], 
                                           'yes', 'no')


df_merged_final[df_merged_final['values_checked'].str.contains('yes')]

           GSE  samples_GEOdb  samples_ncbi values_checked
8     GSE13150              7           202            yes
30    GSE89728              6            22            yes
164   GSE22997              9            13            yes
227   GSE35953             22            35            yes
339   GSE11318            243           406            yes
355  GSE112217              2            10            yes
363   GSE37954             10            18            yes
372   GSE10893            206           504            yes
380   GSE68387            486          2666            yes

In [217]:
#Creating a df specific to yes match - like print above
gse_9_yes = df_merged_final[df_merged_final['values_checked'].str.contains('yes')]


#put the 9 GSE above into a list
gse_9_list = gse_9_yes['GSE'].tolist()

gse_9_list

['GSE13150',
 'GSE89728',
 'GSE22997',
 'GSE35953',
 'GSE11318',
 'GSE112217',
 'GSE37954',
 'GSE10893',
 'GSE68387']

In [213]:
#example: get the GSE from gse_9_list present in all table

df = gsm_gse_geodb[gsm_gse_geodb['series_id'].isin(gse_9_list)].reset_index(drop=True)

unique_df = df.drop_duplicates('GSE')
list_unique = unique_df['GSE'].tolist()
list_unique

#'GSE11318' 'GSE10893' 'GSE22997' 'GSE35953' 'GSE37954'

['GSE11318', 'GSE10893', 'GSE22997', 'GSE35953', 'GSE37954']

In [181]:
#we have exactaly 202 samples. The problem is that str.contains get a substring - 12 more rows (GSE131503!)
#GSE13150 not unique

for gse in df_GSE13150['series_id']:
    if 'GSE13150' in gse:
        print(gse)

GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE7045,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12923,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE12977,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13108,GSE13150
GSE13150,GSE15786
GSE13150,GSE15786
GSE13150,GSE15786
GSE13150,GSE15786
GSE13150,GSE15786
GSE13150,GSE15788
GSE13150,GSE15788
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503
GSE131503

In [223]:
#Another example - GSE89728
#22 samples when we looking for in series_id

gsm_gse_geodb[gsm_gse_geodb['series_id'].str.contains('GSE89728', na=False)]

                gsm          series_id       gpl       GSE
2397213  GSM2387316  GSE89724,GSE89728  GPL11154  GSE89724
2397214  GSM2387317  GSE89724,GSE89728  GPL11154  GSE89724
2397215  GSM2387318  GSE89724,GSE89728  GPL11154  GSE89724
2397216  GSM2387319  GSE89724,GSE89728  GPL11154  GSE89724
2397217  GSM2387320  GSE89724,GSE89728  GPL11154  GSE89724
2397218  GSM2387321  GSE89724,GSE89728  GPL11154  GSE89724
2397219  GSM2387328  GSE89726,GSE89728  GPL16791  GSE89726
2397220  GSM2387329  GSE89726,GSE89728  GPL16791  GSE89726
2397221  GSM2387330  GSE89726,GSE89728  GPL16791  GSE89726
2397222  GSM2387331  GSE89726,GSE89728  GPL16791  GSE89726
...             ...                ...       ...       ...
2397225  GSM2404899  GSE89728,GSE90495  GPL11154  GSE89728
2402084  GSM2642518  GSE89724,GSE89728  GPL11154  GSE89724
2402085  GSM2642519  GSE89724,GSE89728  GPL11154  GSE89724
2402086  GSM2642520  GSE89724,GSE89728  GPL11154  GSE89724
2402087  GSM2642521  GSE89724,GSE89728  GPL11154  GSE89724
2402088  GSM2642522  GSE89728,GSE99346  GPL18573  GSE89728
2402089  GSM2642523  GSE89728,GSE99346  GPL18573  GSE89728
2402090  GSM2642524  GSE89728,GSE99346  GPL18573  GSE89728
2402091  GSM2642525  GSE89728,GSE99346  GPL18573  GSE89728
2402092  GSM2642526  GSE89728,GSE99346  GPL18573  GSE89728

[22 rows x 4 columns]

In [226]:
#GSE89728
#just 6 GSM, as in our merged table, because the problem of second term.
#But, the numbers are Ok with GEOMETADB

gsm_gse_geodb[gsm_gse_geodb['GSE'].str.contains('GSE89728', na=False)]

                gsm          series_id       gpl       GSE
2397225  GSM2404899  GSE89728,GSE90495  GPL11154  GSE89728
2402088  GSM2642522  GSE89728,GSE99346  GPL18573  GSE89728
2402089  GSM2642523  GSE89728,GSE99346  GPL18573  GSE89728
2402090  GSM2642524  GSE89728,GSE99346  GPL18573  GSE89728
2402091  GSM2642525  GSE89728,GSE99346  GPL18573  GSE89728
2402092  GSM2642526  GSE89728,GSE99346  GPL18573  GSE89728

In [225]:
#GSE89728

df_merged_final[df_merged_final['GSE'].str.contains('GSE89728', na=False)]

         GSE  samples_GEOdb  samples_ncbi
30  GSE89728              6            22

In [228]:
#GSE22997 - 13

gsm_gse_geodb[gsm_gse_geodb['series_id'].str.contains('GSE22997', na=False)]

              gsm          series_id      gpl       GSE
521013  GSM567521  GSE22996,GSE22997  GPL6103  GSE22996
521014  GSM567522  GSE22996,GSE22997  GPL6103  GSE22996
521015  GSM567523  GSE22996,GSE22997  GPL6103  GSE22996
521016  GSM567524  GSE22996,GSE22997  GPL6103  GSE22996
521020  GSM567532           GSE22997  GPL6103  GSE22997
521021  GSM567533           GSE22997  GPL6103  GSE22997
521022  GSM567534           GSE22997  GPL6103  GSE22997
521023  GSM567535           GSE22997  GPL6103  GSE22997
521024  GSM567536           GSE22997  GPL6103  GSE22997
521025  GSM567537           GSE22997  GPL6103  GSE22997
521026  GSM567538           GSE22997  GPL6103  GSE22997
521027  GSM567539           GSE22997  GPL6103  GSE22997
521028  GSM567540           GSE22997  GPL6103  GSE22997

In [229]:
#GSE22997 - 9 samples
gsm_gse_geodb[gsm_gse_geodb['GSE'].str.contains('GSE22997', na=False)]

              gsm series_id      gpl       GSE
521020  GSM567532  GSE22997  GPL6103  GSE22997
521021  GSM567533  GSE22997  GPL6103  GSE22997
521022  GSM567534  GSE22997  GPL6103  GSE22997
521023  GSM567535  GSE22997  GPL6103  GSE22997
521024  GSM567536  GSE22997  GPL6103  GSE22997
521025  GSM567537  GSE22997  GPL6103  GSE22997
521026  GSM567538  GSE22997  GPL6103  GSE22997
521027  GSM567539  GSE22997  GPL6103  GSE22997
521028  GSM567540  GSE22997  GPL6103  GSE22997

In [230]:
#GSE22997
df_merged_final[df_merged_final['GSE'].str.contains('GSE22997', na=False)]

          GSE  samples_GEOdb  samples_ncbi
164  GSE22997              9            13